.header-menu{
    display: flex;
    flex-direction: row;
    text-align: right;
    height: 70px;
}
.menu-icon {
    font-size: 2em;
    padding: 8px;
    margin: 10px;
    cursor: pointer;
    background-color: transparent;
    border-width: 1px;
    border-color: black;
    border-radius: 10px;

}
.navbar-brand{
    position: relative;
    right: 10px;
}
.navbar-brand h1{
  color: white;
  display: inline-block;
}

.header-content-container{
    position: absolute;
    left: 10px;
    top: 10px;
}