.header-menu{
    text-align: right;
}
.menu-icon {
    font-size: 2em;
    padding: 8px;
    margin: 10px;
    cursor: pointer;
    background-color: transparent;
    border-width: 1px;
    border-color: black;
    border-radius: 10px;

}
.navbar-brand{
    transform: translateY(-25%);
}

.share-btn{
    position: absolute;
    left: 10px;
    top: 25px;
    color: cornsilk;
}
.share-btn > a {
    padding: 5px;
    font-size: 12px;
    font-family: Verdana, Arial;
}
.share-btn > a:hover {
    cursor: pointer;
}
