<header>
    <div class="header-menu navbar-dark bg-primary">
        <button (click)="toggleSideNav()" class="menu-icon material-icons">menu</button>
        <a class="navbar-brand" routerLink="">
            <img width="32" src="assets/pix/logo.svg" alt="هذا">
            <h1>مَشرُوعُ أَرشِيفِ أَسَانِيدِ وَإِجَازَاتِ القُرآنِ</h1>
        </a>
        <!-- Header content -->
        <div class="header-content-container">
            <ng-container *ngTemplateOutlet="headerTemplateRef"></ng-container>
        </div>
   </div>
</header>