<header>
    <div class="header-menu navbar-dark bg-primary">
        <button (click)="toggleSideNav()" class="menu-icon material-icons">menu</button>
        <a class="navbar-brand" routerLink="">
            <img width="32" src="assets/pix/logo.svg">
            مشروع أرشيف أسانيد وإجازات القرآن
        </a>
        <div class="share-btn" data-url="https://quran.team" data-title="مشروع أرشيف أسانيد وإجازات القرآن" data-desc="ارفع إجازتك للقرآن الآن">
            شارك المشروع عبر: 
            <a class="btn-facebook" data-id="fb"><img height="24" src="assets/pix/facebook.svg"/></a>
            <a class="btn-whatsapp" data-id="wa"><img height="24" src="assets/pix/whatsapp.svg"/></a>
            <a class="btn-twitter" data-id="tw"><img height="24" src="assets/pix/x.svg"/></a>
            <a class="btn-telegram" data-id="tg"><img height="24" src="assets/pix/telegram.svg"/></a>
            <a class="btn-mail" data-id="mail"><img height="24" src="assets/pix/mailto.svg"/></a>
            <a class="btn-copy" data-id="copy"><img height="24" src="assets/pix/copy.svg"/></a>
            <a class="btn-share" data-id="share"><img height="24" src="assets/pix/share_22.svg"/></a>
        </div>
   </div>
</header>