.side-nav-bar-content {
    flex: 1;
    text-align: right;
    
    .side-nav-bar-menu {
        list-style: none;
        padding: 0px;
        margin: 0px;
    }

    li {
        font-size: 1.25em;
        margin-bottom: 32px;
        cursor: pointer;

        a {
            color: #000;
            text-decoration: none;
        }
    }

    #side-version{
        position: absolute;
        bottom: 0;
        right: 70px;
        padding: 16px;
        color: lightgray;
    }
}


.share-btn{
    /*position: absolute;
    bottom: 50px;
    right: 32px;*/
    background-color: lightgoldenrodyellow;
    border-radius: 10px;
    padding: 10px;
}
.share-btn > a {
    padding: 10px;
    font-size: 12px;
    line-height: 3;
}
.share-btn > a:hover {
    cursor: pointer;
}
