<div class="side-nav-bar-content">
    <ul class="side-nav-bar-menu">
        <li *ngFor="let navItem of navItems" (click)="onNavigationSelection(navItem)">
            <img *ngIf="navItem.icon" alt="•" src="{{ navItem.icon }}" width="24px">
            {{ navItem.label }}
        </li>
    </ul>

    <div class="share-btn" data-url="https://quran.team" data-title="مشروع أرشيف أسانيد وإجازات القرآن" data-desc="ارفع إجازتك للقرآن الآن">
        شارك المشروع عبر: 
        <br />
        <a class="btn-facebook" data-id="fb"><img height="24" alt="facebook" src="assets/pix/facebook.svg"/></a>
        <a class="btn-whatsapp" data-id="wa"><img height="24" alt="whatsapp" src="assets/pix/whatsapp.svg"/></a>
        <a class="btn-twitter" data-id="tw"><img height="24" alt="X" src="assets/pix/x.svg"/></a>
        <a class="btn-telegram" data-id="tg"><img height="24" alt="telegram" src="assets/pix/telegram.svg"/></a>
        <br />
        <a class="btn-mail" data-id="mail"><img height="24" alt="email" src="assets/pix/mailto.svg"/></a>
        <a class="btn-copy" data-id="copy"><img height="24" alt="copy" src="assets/pix/copy.svg"/></a>
        <a class="btn-share" data-id="share"><img height="24" alt="share" src="assets/pix/share_22.svg"/></a>
    </div>
    <div id="side-version">
        نسخة:
        {{ getAppVersion() }}         
    </div>
</div>