.side-nav-bar-content {
    flex: 1;
    text-align: right;
    
    .side-nav-bar-menu {
        list-style: none;
        padding: 0px;
        margin: 0px;
    }

    li {
        font-size: 1.25em;
        margin-bottom: 32px;
        cursor: pointer;

        a {
            color: #000;
            text-decoration: none;
        }
    }

    #side-version{
        position: absolute;
        bottom: 0;
        right: 0;
        padding: 16px;
    }
}