label {
    float: inline-start;
}
.modal-header .close {
    margin: -1rem auto -1rem -1rem;
}
.instructions {
    display: block;
    text-align: right;
    width: 280px;
    background-color: cornsilk;
    padding: 25px;
    margin: 25px;
    position: absolute;
    border-radius: 10px;
}
.instructions > table{
    width: 100%;
    margin-top: 10px;
    border-collapse: separate;
    border-spacing: 5px;
}
.instructions td {
    text-align: center; 
    vertical-align: middle;
    border: solid grey 1px;
    border-radius: 5px;
}
.instructions td > div {
    border-radius: 5px;
}
.instructions svg {
    padding-bottom: 20px;
    width: 70px;
    transform: rotate(-30deg);
}

.basic-popover-chart {
    margin: 5px;
    width: 1362px;
}
.Treant > .node {
    padding: 3px;
    border: 1px solid #484848;
    border-radius: 3px;
    background-color: #fff;
}
.Treant > .node img {
    width: 30px;
    height: 30px;
    float: right;
}

.Treant .collapse-switch {
    width: 100%;
    height: 100%;
    border: none;
}
.Treant .node.collapsed {
    background-color: #def82d !important;
}
.Treant .node.collapsed .collapse-switch {
    background: none;
}
.node > .node-order {
    background-color: #ccc;
    color: darkslategray;
    font-size: x-small;
    position: absolute;
    right: -12px;
    top: -1px;
    height: 32px;
    width: 13px;
    border: 1px solid #484848;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
}
.wahi {
    background-color: #96c0dc !important;
}
.sahabi {
    background-color: #b9e7d0 !important;
}
.tabei {
    background-color: #d1f6bd !important;
}
.qari7 {
    background-color: #ebf6ae !important;
}
.qari10 {
    background-color: #F0EDD4 !important;
}
.rawi {
    background-color: #ECCDB4 !important;
    color: #444;
}
.Treant > p {
    font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial,
        'Lucida Grande', sans-serif;
    font-weight: bold;
    font-size: 12px;
}

.popover {
    cursor: pointer;
    min-width: 200px;
    min-height: 100px;
    box-shadow:5px 5px 5px rgba(0,0,0,0.3);
}

.popover-title {
    white-space: nowrap;
    font-size: 0.8em;
}

.popover-content,
.btn {
    z-index: 9999;
    text-align: center;
    min-width: 75px;
}
#hover_place, #hover_date{
    color:#484848;
    margin-bottom:7px;
}

.upload-button {
    position:fixed;
    right:20px;
    bottom:20px;
    font-size: large;
    padding: 15px;
    background: #007BFF;
    border-radius: 10px;
    border: 1px solid transparent;
    box-shadow: 3px 6px 12px -2px black;
}
.upload-button:hover{
    border: 1px solid black;

}
.upload-button >span{
    vertical-align:middle;
} 

#form-group2{
    display: flex; /* 2. display flex to the rescue */
    flex-direction: row;
    width: 100%;
}
#form-group2 button{
    width: 35%;
}
#image {
    margin-left: 10px;
}
.modal-header{
    background-color: #cfcfcf;
    background-image: url("/assets/pix/node-tree.svg");
    background-repeat: no-repeat;
    background-position: bottom left 25%;
}

#confirm_pr{
    text-align: center;
    padding-top: 16px;
}