.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-container {
    display: flex;
    flex-direction: column;
    height: 100%;

    section {
        flex: 1;
    }
}
