@import "bootstrap-icons/font/bootstrap-icons.css";

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.navbar-nav{
    text-align: right;
    float: right;
    color: whitesmoke;
    padding-right: 60px;
}
.navbar-nav a {
    color: whitesmoke;
}
