/* arabic */
@font-face {
    font-family: 'Amiri';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/amiri/v27/J7aRnpd8CGxBHpUrtLMA7w.woff2) format('woff2');
    unicode-range: U+0600-06FF, U+0750-077F, U+0870-088E, U+0890-0891, U+0898-08E1, U+08E3-08FF, U+200C-200E, U+2010-2011, U+204F, U+2E41, U+FB50-FDFF, U+FE70-FE74, U+FE76-FEFC;
  }

/* You can add global styles to this file, and also import other style files */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

fieldset,
img,
text {
    border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
    font-style: normal;
    font-weight: normal;
}

caption,
th {
    text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal;
}

q:before,
q:after {
    content: '';
}

abbr,
acronym {
    border: 0;
}

body {
    background: #fff;
    font-family: 'Droid Serif', Georgia, 'Times New Roman', Times, serif;
    color: #444444;
/*
    padding: 0;
    margin: 0;
    display: flex;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    */
}


ol.abjd {
    list-style: none;
  }
  
  ol.abjd > li::before {
    display: inline-block;
    width: 1em;
    margin-right: -1.5em;
    margin-left: 0.5em;
    text-align: left;
    direction: ltr;
  }
  
  ol.abjd > li:nth-child(1)::before  { content: ".أ"; }
  ol.abjd > li:nth-child(2)::before  { content: ".ب"; }
  ol.abjd > li:nth-child(3)::before  { content: ".جـ"; }
  ol.abjd > li:nth-child(4)::before  { content: ".د"; }
  ol.abjd > li:nth-child(5)::before  { content: ".هـ"; }
  ol.abjd > li:nth-child(6)::before  { content: ".و"; }
  ol.abjd > li:nth-child(7)::before  { content: ".ز"; }
  ol.abjd > li:nth-child(8)::before  { content: ".حـ"; }
  ol.abjd > li:nth-child(9)::before  { content: ".ط"; }
  ol.abjd > li:nth-child(10)::before { content: ".ى"; }
  ol.abjd > li:nth-child(11)::before { content: ".كـ"; }
  ol.abjd > li:nth-child(12)::before { content: ".ل"; }
  ol.abjd > li:nth-child(13)::before { content: ".مـ"; }
  ol.abjd > li:nth-child(14)::before { content: ".ن"; }
  ol.abjd > li:nth-child(15)::before { content: ".س"; }
  ol.abjd > li:nth-child(16)::before { content: ".عـ"; }
  ol.abjd > li:nth-child(17)::before { content: ".ف"; }
  ol.abjd > li:nth-child(18)::before { content: ".صـ"; }
  ol.abjd > li:nth-child(19)::before { content: ".ق"; }
  ol.abjd > li:nth-child(20)::before { content: ".ر"; }
  ol.abjd > li:nth-child(21)::before { content: ".ش"; }
  ol.abjd > li:nth-child(22)::before { content: ".ت"; }
  ol.abjd > li:nth-child(23)::before { content: ".ث"; }
  ol.abjd > li:nth-child(24)::before { content: ".خـ"; }
  ol.abjd > li:nth-child(25)::before { content: ".ذ"; }
  ol.abjd > li:nth-child(26)::before { content: ".ضـ"; }
  ol.abjd > li:nth-child(27)::before { content: ".ظ"; }
  ol.abjd > li:nth-child(28)::before { content: ".غـ"; }