<div class="operations-page app-page">
    <h1>كيف يعمل الأرشيف؟</h1>
    <h2>ما هي الإجازة</h2>
    <p>
        الإجازة هي: إِذْنٌ من الشيخ بالرواية لفظًا [الإجازة الشفوية]، أو خطًا [الإجازة الكتابية]، وهي نوع من طرق تحمل الحديث عند المحدثين
        وأركانها أربعة:
    </p>
    <ol class="abjd">
        <li>
            مُجيز: وهو الشيخُ الذي يسمعُ القرآن كله من الطالب مع التجويد والضبط التام.
        </li>
        <li>
            مُجاز: وهو الطالب الذي يقرأُ أمام الشيخ ويتلقى منه القرآن.
        </li>
        <li>
            مُجازٌ به: وهو القرآن العظيم الذي هو كلام الله تعالى المنزل على رسول الله ﷺ، باللسان العربي، للإعجاز بأقصر سورة منه، المكتوب في المصاحف، المنقول بالتواتر، المتعبد بتلاوته، المبدوء بسورة الفاتحة، المختوم بسورة الناس.
        </li>
        <li>
            سَنَدٌ: وهمُ الرجال الذين نقلوا لنا القرآن العظيم مشافهةً، كل واحد منهم قرأ على شيخه، وهكذا إلى رسول الله ﷺ، عن الأمين جبريل، عن رب العالمين -تبارك وتعالى- منتهى السلسلة في القراءة.
        </li>
    </ol>
    <p>
        ولا تنطبق هذه الشروط على ما شاع بين الناس في حلقات القرآن ومعاهد القراءة الأكاديمية، فهي تنحصر في الإقراء الأكاديمي، ولا تتصل سندا برسول الله ﷺ، إلا أن يكون المعلم مجازا ومجيزا بحسب الشروط السابقة.
    </p>

    <br /><br />

    <h3>
        الصفحة تحت الانشاء ...
    </h3>
</div>